@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

.chat-font * {
  font-family: 'Open Sans', serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .market * {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: 600;
} */

.open-sans {
  font-family: 'Open Sans', serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.market * {
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.container-market {
  max-width: 1650px;
  margin: 0 auto 0;
  padding: 0 16px 0;
  width: 100%;
}

@layer components {
  .heading {
    @apply text-3xl md:text-5xl font-semibold font-head;
  }

  .head {
    @apply text-xl md:text-3xl font-semibold font-head;
  }

  .text {
    @apply text-slate-500 tracking-wider;
  }

  .paragraph {
    @apply text-sm text-[#545454] font-body tracking-wider;
  }
}

.health-wrld ul {
  list-style: disc !important;
  margin-left: 15px;
}

.health-wrld ol {
  list-style: disc !important;
  margin-left: 15px;
}

.accordion-body ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.accordion-body ul ul {
  list-style-type: circle;
}

.accordion-body ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.accordion-body h1,
h2,
h3,
h4 {
  margin-bottom: 12px;
}

.accordion-body h1 {
  font-size: 34px;
}

.accordion-body h2 {
  font-size: 26px;
}

.accordion-body h3 {
  font-size: 22px;
}

.accordion-body h4 {
  font-size: 18px;
}

.accordion-body p {
  margin-bottom: 7px;
}

.market-scrollbar ::-webkit-scrollbar {
    width: 5px;
  }

  .market-scrollbar ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }

.market-scrollbar ::-webkit-scrollbar-thumb {
    background: #05ffea;
    border-radius: 5px;
  }

.market-scrollbar ::-webkit-scrollbar-thumb:hover {
    background: #ff2e2e;
  }

  .reset html,
  .reset address,
  .reset blockquote,
  .reset body,
  .reset dd,
  .reset div,
  .reset dl,
  .reset dt,
  .reset fieldset,
  .reset form,
  .reset frame,
  .reset frameset,
  .reset h1,
  .reset h2,
  .reset h3,
  .reset h4,
  .reset h5,
  .reset h6,
  .reset noframes,
  .reset ol,
  .reset p,
  .reset ul,
  .reset center,
  .reset dir,
  .reset hr,
  .reset menu,
  .reset pre {
    display: block;
    unicode-bidi: embed;
  }
  
  .reset li {
    display: list-item;
  }
  
  .reset head {
    display: none;
  }
  
  .reset table {
    display: table;
  }
  
  .reset tr {
    display: table-row;
  }
  
  .reset thead {
    display: table-header-group;
  }
  
  .reset tbody {
    display: table-row-group;
  }
  
  .reset tfoot {
    display: table-footer-group;
  }
  
  .reset col {
    display: table-column;
  }
  
  .reset colgroup {
    display: table-column-group;
  }
  
  .reset td,
  .reset th {
    display: table-cell;
  }
  
  .reset caption {
    display: table-caption;
    text-align: center;
  }
  
  .reset th {
    font-weight: bolder;
    text-align: center;
  }
  
  .reset body {
    margin: 8px;
  }
  
  .reset h1 {
    font-size: 2em;
    /* margin: 0.67em 0; */
  }
  
  .reset h2 {
    font-size: 1.5em;
    /* margin: 0.75em 0; */
  }
  
  .reset h3 {
    font-size: 1.17em;
    /* margin: 0.83em 0; */
  }
  
  .reset h4,
  .reset p,
  .reset blockquote,
  .reset ul,
  .reset fieldset,
  .reset form,
  .reset ol,
  .reset dl,
  .reset dir,
  .reset menu {
    margin: 0.1em 0;
  }
  
  .reset h5 {
    font-size: 0.83em;
    margin: 1.5em 0;
  }
  
  .reset h6 {
    font-size: 0.75em;
    margin: 1.67em 0;
  }
  
  .reset h1,
  .reset h2,
  .reset h3,
  .reset h4,
  .reset h5,
  .reset h6,
  .reset b,
  .reset strong {
    font-weight: bolder;
  }
  
  .reset blockquote {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .reset i,
  .reset cite,
  .reset em,
  .reset var,
  .reset address {
    font-style: italic;
  }
  
  .reset pre,
  .reset tt,
  .reset code,
  .reset kbd,
  .reset samp {
    font-family: monospace;
  }
  
  .reset pre {
    white-space: pre;
  }
  
  .reset button,
  .reset textarea,
  .reset input,
  .reset select {
    display: inline-block;
  }
  
  .reset big {
    font-size: 1.17em;
  }
  
  .reset small,
  .reset sub,
  .reset sup {
    font-size: 0.83em;
  }
  
  .reset sub {
    vertical-align: sub;
  }
  
  .reset sup {
    vertical-align: super;
  }
  
  .reset table {
    border-spacing: 2px;
  }
  
  .reset thead,
  .reset tbody,
  .reset tfoot {
    vertical-align: middle;
  }
  
  .reset td,
  .reset th,
  .reset tr {
    vertical-align: inherit;
  }
  
  .reset s,
  .reset strike,
  .reset del {
    text-decoration: line-through;
  }
  
  .reset hr {
    border: 1px inset;
  }
  
  /* List Styles */
  .reset ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
  }
  
  .reset ol {
    list-style-type: decimal;
    margin-left: 20px;
    padding-left: 20px;
  }
  
  .reset ol ul,
  .reset ul ol,
  .reset ul ul,
  .reset ol ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
  }
  
  .reset li {
    margin-bottom: 5px;
  }
  
  /* Underline & Links */
  .reset u,
  .reset ins {
    text-decoration: underline;
  }
  
  .reset br:before {
    content: "\A";
    white-space: pre-line;
  }
  
  .reset center {
    text-align: center;
  }
  
  .reset :link,
  .reset :visited {
    text-decoration: underline;
  }
  
  .reset :focus {
    outline: thin dotted invert;
  }
  
  /* Bidirectionality settings */
  .reset BDO[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override;
  }
  
  .reset BDO[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  .reset *[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: embed;
  }
  
  .reset *[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: embed;
  }
  
  /* Print styles */
  @media print {
    .reset h1 {
      page-break-before: always;
    }
  
    .reset h1,
    .reset h2,
    .reset h3,
    .reset h4,
    .reset h5,
    .reset h6 {
      page-break-after: avoid;
    }
  
    .reset ul,
    .reset ol,
    .reset dl {
      page-break-before: avoid;
    }
  }
  

  .reset .ql-align-center {
    text-align: center;
  }
  .reset .ql-align-right {
    text-align: right;
  }
  .reset .ql-align-left {
    text-align: left;
  }

  .reset blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}